
img{
    margin: 0;
}

button{
    border-radius: 1em;
    background-color: black;
    outline: none;
    border-style: none;
    min-height: 2em;
    cursor: pointer;
    font-weight: 600;
    color: white;
    padding: 0 1em 0 1em;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
  }

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.45em 0 1.45em 0;
    background-color: rgba(187, 187, 187, 0.76);  
}

.post a, textarea, input, label,button{
    font: 500 .85em "Source Sans Pro", sans-serif;
}

.post img{
    width: 800px;
    height: 450px;
}

.postText{
    width: 45em;
    margin-bottom: 1.45em;
    color: rgb(53, 53, 53);
}

.postText h1{
    text-decoration: underline;
  text-decoration-color: black;
}





